h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
}

.main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: white;
    min-height: calc(100vh - 100px);
    padding: 50px;
}

.passage-wrap {
    font-size: 2rem;
    position: fixed;
    left: 46vw;
    top: 42vh;
    z-index: 0;
}

.passage-entry {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    white-space: nowrap;
}

.passage-entry .text-entry {
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    /*margin-right: 3rem;*/
    font-size: 1rem;
    max-width: 65vw;
}

.passage-entry .text-entry-button {
    font-size: 1.5rem;
    padding: 0 10px;
}

.passage {
    right: -200vw;
    margin-right: 100vw; 
    width: 100vw;
    
}

.config-panel {
    width: auto;
    height: auto;
    margin: 0 0;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    
    
    position: fixed;

    box-shadow: 0px 0px 3px lightgray;
    border-radius: 20px;
    z-index: 4;
}

.config-panel h2 {
    margin-bottom: 1rem;
    padding: 0;
    font-family: "Nunito", "sans-serif";
    color: gray;
}

.config-panel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    position: fixed;
    z-index: 4;
}

.config-panel-bg {
    display: flex;
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background: white;
}

.config-panel .title-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.config-panel .forward-button {
    background: transparent;
    cursor: default;
    border: none;
}

.config-panel .forward-button:hover {
    background: transparent;
    cursor: pointer;
}


.settings-section-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settings-section-wrap .title-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.config-spacer {
    width: 100%;
    height: 20px;
}

.wpm-input {
    border: none;
    width: 8rem;
    font-size: 4rem;
}

.wpm-input button {
    color: orange;
    border: 5px solid black;
}

.open-config-button {
    position: fixed;
    left: 95vw;
    top: 5vh;
    z-index: 2;   
}

.open-config-button .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-variation-settings: 'opsz' 40, 'FILL' 1;
    font-size: 2rem;
}


.open-config-button {
    background: transparent;
    cursor: default;
    border: none;
}

.open-config-button:hover {
    background: transparent;
    cursor: pointer;
}


.info-button {
    position: absolute;
    right: 4%;
    top: 4%;
    background: transparent;
    cursor: default;
    border: none;
    font-size: 2rem;
}

.info-button:hover {
    background: transparent;
    cursor: pointer;
}

.play-button {
    padding: 0.5rem 2.5rem;
    background: rgb(100, 255, 108);
    color: black;
    font-weight: 600;
    border: 0;
    border-radius: 2rem;
    font-family: "Noto sans", "sans-serif";
    font-size: 1.2rem;
    cursor: default;
}

.play-button:hover {
    background: rgb(78, 201, 84);
    cursor: pointer;
}


.info-panel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    position: fixed;
    z-index: 5;
    backdrop-filter: blur(5px);
}


.info-panel {
    width: auto;
    max-width: 25%;
    height: auto;
    margin: 0 0;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    
    
    position: fixed;

    box-shadow: 0px 0px 3px lightgray;
    border-radius: 20px;
    z-index: 7;
}


.info-panel-bg {
    display: flex;
    position: fixed;
    z-index: 6;
    height: 100vh;
    width: 100vw;
    background: transparent;
}

.info-panel h2 {
    margin-bottom: 1rem;
    padding: 0;
    font-family: "Nunito", "sans-serif";
    color: gray;
}

.info-panel p {
    font-family: "Noto Sans", "sans-serif";
}


.info-panel .close-button {
    position: absolute;
    right: 4%;
    top: 4%;
    background: transparent;
    cursor: default;
    border: none;
    font-size: 2rem;
}

.info-panel .close-button:hover {
    background: transparent;
    cursor: pointer;
}