h1 {
    text-align: center;
    font-size: 2.5rem;
}

.main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: white;
    min-height: calc(100vh - 100px);
    box-shadow: 0px 0px 2px lightgray;
    padding: 50px;
}

.passage {
    font-size: 2rem;
}

.passage-entry {
    width: auto;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 50px;
}